@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Upright', serif;
}
/* img{
    width: 100%;
    height: 100%;
} */
header{
    display: flex;
    justify-content: space-between;
    margin: 140px;
}
.icon {
    display:flex;

}
h2{
    font-size: 50px;
 display: flex;
 padding-left: 5px;
 color:#74B49B ;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding: 20px;
   
}
nav ul li{
    text-transform: capitalize;
    padding: 5px;
    list-style: none;
    
}
 nav ul li a{
    text-decoration: none;
    color:#74B49B;
    font-size: 20px;
    font-weight: 700;
}

.banner{
    margin: 140px;
    /* background: linear-gradient(180deg,black, white) , ; */
    background: url(/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
width:auto;
height: 400px;
border-radius: 10px;
text-align: center;
justify-content: center;
align-items: center;
padding-top: 100px;
}
.banner-text{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 50px;
}

.banner-button{
    display: flex;
    justify-content: center;
    background: transparent;
 
}

input , select{
    padding: 5px;
    width: 100px;
  margin-left: 5px;
  border: 5px ;

}

.tour{
    display: flex;
    justify-content: space-between;
    margin: 140px;
 
}

.tour .tour-text{
    align-items: center;
    justify-content: center ;
    font-size: 20px;
    font-weight: 500;
    height: 200px;
  padding-left: 20px;
    width: 50%;
  
}
 .tour-text button{
    background: tomato;
    color: antiquewhite;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
 }

 .tour-image img{
    height: 400px;
 }

 .image-container{
   margin: 140px;
   
 }
 .tour-option{
    display: block;
 }

 

 .tour-option-image-1{
    display: flex;
gap: 20px;
padding: 5px;

 }
 .tour-option-image-2{
    display: flex;
    gap: 20px;
    padding: 5px;
 }
 .tour-option-image-3{
    display: flex;
    gap: 20px;
    padding: 5px;
 }
  .img-1 , .img-2 , .img-3,
  .img-4 , .img-5 , .img-6,
  .img-7 {
position: relative;
 }
 .img-1 h3{
    position: absolute;
   bottom: 140px;
   left: 250px;
   color: white;
   font-size: 30px;
 } 
 
 .img-2 h3{
    position: absolute;
    bottom: 140px;
    left: 250px;
    color: white;
    font-size: 30px;
 }
 .img-3 h3{
    position: absolute;
    bottom: 140px;
    left: 150px;
    color: white;
    font-size: 30px;
 }
 .img-4 h3{
    position: absolute;
    bottom: 140px;
    left: 200px;
    color: white;
    font-size: 30px;
 }
 .img-5 h3{
    position: absolute;
    bottom: 140px;
    left: 100px;
    color: white;
    font-size: 30px;
 }
 .img-6 h3{
    position: absolute;
    bottom: 140px;
    left: 250px;
    color: white;
    font-size: 30px;
 }
 .img-7 h3{
    position: absolute;
    bottom: 140px;
    left: 250px;
    color: white;
    font-size: 30px;
 }